:host,
arc-container[theme="ACT-light"] {
  /* Base */
  --arc-font-color: var(--arc-grey-100);
  --arc-input-color: var(--arc-font-color);
  --arc-background-color: var(--arc-grey-010);
  --arc-container-color: var(--arc-white-000);

  /* Palette */
  --arc-color-default: var(--arc-grey-010);
  --arc-color-primary: var(--arc-teal-070);
  --arc-color-secondary: var(--arc-teal-050);
  --arc-color-error: var(--arc-red-050);
  --arc-color-warning: var(--arc-orange-050);
  --arc-color-info: var(--arc-pink-050);
  --arc-color-success: var(--arc-green-050);

  /* Hover */
  --arc-hover-darker: rgba(var(--arc-black-100), 0.3);
  --arc-hover-dark: rgba(var(--arc-black-100), 0.1);
  --arc-hover-light: rgba(var(--arc-white-000), 0.7);
  --arc-hover-lighter: rgba(var(--arc-white-000), 0.9);
}

:host,
arc-container[theme="ACT-dark"] {
  /* Base */
  --arc-font-color: var(--arc-grey-000);
  --arc-input-color: var(--arc-grey-000);
  --arc-background-color: var(--arc-grey-090);
  --arc-container-color: var(--arc-grey-100);

  /* Palette */
  --arc-color-default: var(--arc-background-color);
  --arc-color-primary: var(--arc-font-color);
  --arc-color-secondary: var(--arc-white-000);
  --arc-color-error: var(--arc-red-030);
  --arc-color-warning: var(--arc-orange-030);
  --arc-color-info: var(--arc-blue-030);
  --arc-color-success: var(--arc-green-030);

  /* Hover */
  --arc-hover-lighter: rgba(var(--arc-black-100), 0.8);
  --arc-hover-light: rgba(var(--arc-black-100), 0.85);
}

:host,
arc-sidebar[theme="ACT-light"] {
  /* Base */
  --arc-container-color: var(--arc-teal-070);

  /* Size */
  --sidebar-width: clamp(15rem, 10%, var(--arc-sidebar-width));
  --gap-distance: 0;
}

:host,
arc-sidebar[theme="ACT-dark"] {
  /* Base */
  --arc-container-color: var(--arc-grey-090);

  /* Size */
  --sidebar-width: clamp(15rem, 10%, var(--arc-sidebar-width));
  --gap-distance: 0;
}

.primary-text {
  color: rgba(var(--arc-color-primary));
}

.secondary-text {
  color: rgba(var(--arc-color-secondary));
}

ul {
  list-style-type: none;
}
